body{
    background-color: black;
}
#background{
    position:absolute;
    margin-left:-180px;
    opacity: 50%;
    margin-top: 30px;
}
#background1{
  position:absolute;
  margin-left: 700px;
}
nav{
    background-color: rgb(107, 43, 226);
    margin: 0%;
    padding: 0%;
}
#menu1{
  list-style: none;
  padding: 0px;
  background-color: rgb(107, 43, 226);
  text-align:end;
  border-radius: 10px;
}
#menu2{
  width: 150px;
  height: 50px;
  display: table-cell;
  background-color: rgb(107, 43, 226);
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding: 3px;
  transition: color 1s, background-color 0.7s, border-radius 0.5;
}
#menu2:hover{
  color: aqua;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
p{
  text-align: center;
  color: white;
}
#rodape{
    margin-top: 1036px;
}
