body{
    background-color: black;
}
#background{
    position:absolute;
    margin-left: 600px;
    opacity: 50%;
    margin-top: 140px;
}
#background1{
  position:absolute;
  margin-left: 700px;
}
nav{
    background-color: blueviolet;
    margin: 0%;
    padding: 0%;
}
#menu1{
  list-style: none;
  padding: 0px;
  background-color: blueviolet;
  text-align:end;
  border-radius: 10px;
}
#menu2{
  width: 150px;
  height: 50px;
  display: table-cell;
  background-color: blueviolet;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding: 3px;
  transition: color 1s, background-color 0.7s, border-radius 0.5;
}
#menu2:hover{
  background-color: rgb(105, 33, 173);
  color: aqua;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
p{
  text-align: center;
  color: white;
}
table{
  border: 1px solid white;
color: white;
table-layout: fixed;
width: 500px;
height: 300px;
}
tr,th{
border: 1px solid white;
vertical-align:middle;
}
P{
text-align: center;
color: white;
font-family: 'Pacifico', cursive;
}
#tabela{
  position: absolute;
  margin-top: 500px;
  margin-left: 50px;
}
#jogo1{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 10px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
 }
 #jogo:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo2{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 230px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo2:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo3{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 450px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo3:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo4{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 10px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo4:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo5{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 228px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo5:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo6{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 450px;
  border: 2px solid rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo6:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
 #rodape2{
  margin-top: 200px;
  }
  #rodape{
    margin-top: 900px;
  }
  @media screen and (min-width: 0px) and (max-width: 500px){

  #background{
  display: none;
  }

  #background1{
  margin-left: -5px;
  margin-top: -80px;
  width: 402px;
  }

nav{
  height: 190px;
  width: 100%;

}

#menu1{
  list-style: none;
  background-color: blueviolet;
  border-radius: 10px;
  text-align: center
}

#menu2{
  background-color: blueviolet;
  color: white;
  font-family: 'Press Start 2P', cursive;
  transition: color 1s, background-color 0.7s, border-radius 0.5;
  
}
table{
display: none;
}
#jogo1{
  margin-top: 70px;
  margin-left: 10px;
  width: 40%;
  height: 20%;
 }
 #jogo2{
  margin-top: 70px;
  margin-left: 190px;
  width: 40%;
  height: 20%;
 }
 #jogo3{
  margin-top: 260px;
  margin-left: 10px;
  width: 40%;
  height: 20%;
 }
 #jogo4{
  margin-top: 260px;
  margin-left: 190px;
  width: 40%;
  height: 20%;
 }
 #jogo5{
  margin-top: 450px;
  margin-left: 10px;
  width: 40%;
  height: 20%;
 }
  #jogo6{
    margin-top: 450px;
    margin-left: 190px;
    width: 40%;
    height: 20%;
}
  }