body{
    background-color: black;
}
#background{
    position:absolute;
    margin-left: 700px;
    opacity: 50%;
}
nav{
    background-color: blueviolet;
    margin: 0%;
    padding: 0%;
}
#menu{
    position: absolute;
    width: 140px;
    margin-top: -65px;
    margin-left: 20px;
    display: flex;
  
}
#menu1{
  list-style: none;
  padding: 0px;
  background-color: blueviolet;
  text-align:end;
  border-radius: 10px;
}
#menu2{
  width: 150px;
  height: 50px;
  display: table-cell;
  background-color: blueviolet;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
  transition: color 1s, background-color 0.7s, border-radius 0.5;
}
#menu2:hover{
  background-color: rgb(105, 33, 173);
  color: aqua;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
p{
  text-align: center;
  color: white;
}
table{
  border: 1px solid white;
color: white;
table-layout: fixed;
width: 500px;
height: 300px;
}
tr,th{
border: 1px solid white;
vertical-align:middle;
}
P{
text-align: center;
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#tabela{
  position: absolute;
  margin-top: 500px;
  margin-left: 50px;
}
#jogo{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 10px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
 }
 #jogo:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo2{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 230px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo2:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo3{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 450px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo3:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo4{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 10px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo4:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo5{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 228px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo5:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
#jogo6{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-left: 450px;
  border: 2px dotted rgba(0, 162, 255, 0.712);
  display: flex;
}
#jogo6:hover{
 border: 5px solid rgba(70, 70, 70, 0.479);
 opacity: 80%;
 }
 #rodape2{
margin-top: 200px;
}
#rodape{
  margin-top: 900px;
  }
.descricao_mario img{
width: 500px;
height: 300px;
}
#mario_info{
color: white;
}
.descricao_mario{
    margin: auto;
margin-top: 100px;
width: 1000px;
height: 420px;
}
#texto{
width: 400px;
position: relative;
margin-left: 500px;
margin-top: -400px;
}
#mariofundo{
    position:absolute;
opacity: 10%;
width: 700px;
margin-left: 550px;
margin-top: -30px;
}
#mariofundo2{
    position:absolute;
opacity: 20%;
width: 200px;
margin-left: 280px;
margin-top: -10px;
}
.imagens_mario{
border: 1px solid white;
width: 800px;
height: 400px;
margin: auto;
}
#fotomario1{
    position:absolute;
width: 200px;
margin-left: 280px;
}
#fotomario1:hover{
    position:absolute;
width: 650px;
height: 310px;
margin-left: 90px;
margin-top: 5px;
border: 2px solid rgb(24, 24, 24);
box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
#fotomario2{
    position:absolute;
width: 200px;
margin-left: 20px;
transition: width 3s, height 3s;
}
#fotomario2:hover{
    position:absolute;
    width: 650px;
    height: 310px;
    margin-left: 90px;
    margin-top: 5px;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
#fotomario3{
  position:absolute;
width: 200px;
margin-left: 550px;
}
#fotomario3:hover{
  position:absolute;
  width: 650px;
  height: 310px;
  margin-left: 90px;
  margin-top: 5px;
  border: 2px solid rgb(24, 24, 24);
  box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
#fotomario4{
  position:absolute;
width: 200px;
height: 130px;
margin-top: 180px;
margin-left: 20px;
}
#fotomario4:hover{
  position:absolute;
  width: 650px;
  height: 310px;
  margin-left: 90px;
  margin-top: 5px;
  border: 2px solid rgb(24, 24, 24);
  box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
#fotomario5{
  position:absolute;
width: 200px;
height: 130px;
margin-top: 180px;
margin-left: 280px;
}
#fotomario5:hover{
  position:absolute;
  width: 650px;
  height: 310px;
  margin-left: 90px;
  margin-top: 5px;
  border: 2px solid rgb(24, 24, 24);
  box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
#fotomario6{
  position:absolute;
width: 200px;
height: 130px;
margin-top: 180px;
margin-left: 550px;
}
#fotomario6:hover{
  position:absolute;
  width: 650px;
  height: 310px;
  margin-left: 90px;
  margin-top: 5px;
  border: 2px solid rgb(24, 24, 24);
  box-shadow: 3px 3px 3px 3px rgba(87, 87, 87, 0.548);
}
  #botao{
    position: absolute;
width: 250px;    
height: 50px;
margin-top: 350px;
margin-left: 110px;
}
#botao:hover{
    margin-left: 113px;
}
#voltar{
  position: absolute;
color: white;
margin-left: 500px;
}
#som{
position: absolute;
width: 250px;
margin-left: 500px;
margin-top: 900px;

}
