body{
    background-color: black;
}
#background{
    position:absolute;
    margin-left:-180px;
    opacity: 50%;
    margin-top: 30px;
}
#background1{
  position:absolute;
  margin-left: 700px;
}
nav{
    background-color: rgb(107, 43, 226);
    margin: 0%;
    padding: 0%;
}
#menu1{
  list-style: none;
  padding: 0px;
  background-color: rgb(107, 43, 226);
  text-align:end;
  border-radius: 10px;
}
#menu2{
  width: 150px;
  height: 50px;
  display: table-cell;
  background-color: rgb(107, 43, 226);
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding: 3px;
  transition: color 1s, background-color 0.7s, border-radius 0.5;
}
#menu2:hover{
  color: aqua;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
p{
  text-align: center;
  color: white;
}
.emulador1{
  position: absolute;
  margin-left: 750px;
  margin-top: 200px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador1:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
.emulador2{
  position: absolute;
  margin-left: 1050px;
  margin-top: 200px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador2:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
.emulador3{
  position: absolute;
  margin-left: 750px;
  margin-top: 420px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador3:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
.emulador4{
  position: absolute;
  margin-left: 1050px;
  margin-top: 420px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador4:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
.emulador5{
  position: absolute;
  margin-left: 750px;
  margin-top: 640px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador5:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
.emulador6{
  position: absolute;
  margin-left: 1050px;
  margin-top: 640px;
width: 200px;
height: 200px;
border: 2px solid rgb(255, 0, 234);
border-radius: 20px;
}
.emulador6:hover{
  border: 5px solid rgba(70, 70, 70, 0.479);
  opacity: 80%;
}
#rodape{
  margin-top: 1030px;
}
