body{
    background-color: rgba(167, 204, 230, 0.411);
    }
.titulo{
        color: #000000;
        font-family: 'Indie Flower', cursive;
        margin-left: 120px;
        font-size: 15px;
}
.formulario{
    border: 1px solid black;
    border-top: 5px solid rgb(255, 122, 122);
    border-bottom: 5px solid rgb(255, 122, 122);
    height: 500px;
    width:1100px;
    margin-left: 120px;
    background-color: rgb(207, 207, 207);
    box-shadow: 1px 1px 4px 5px rgba(73, 73, 73, 0.308);
    font-family: 'Archivo Narrow', sans-serif;
}
#foto_acesso{
position:absolute;
width: 450px;
margin-top: 25px;
margin-left:500px;
box-shadow: 1px 1px 4px 7px rgba(117, 117, 117, 0.5);
}
.formulario p{
 margin: 15px;
}
#voltar{
    font-size: 15px;
    border-radius: 20px;
    margin-left: 1020px;
    margin-top: 410px;
}
.dados{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 20px;

}
#botao1{
font-size: 12px;
margin-left: 4px;
border-radius: 6px;
}
