body{
    background-color: rgba(167, 204, 230, 0.411);
}
#noticias{
    position: relative;
    margin-top: 12px;
    margin-left: 1060px;  
}
#slide{
position: relative;
height: 543px;
width: 850px;
margin-top: -670px;
margin-left: 210px;
}
#barra_perfil{
position: relative;
width: 195px;
height: 600px;
margin-left: -200px;
margin-top: -598px;
}
#barra_perfil img{
    width: 195px;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.411) ;
    }
.sair{
position: relative;
margin-top: -50px;
margin-left: 1290px;
}
a{
text-decoration: none;
color: rgb(187, 187, 186);
}
#barra_inferior{
position: relative;
height: 70px;
width: 1050px;
margin-left: -200px;
text-align: center;
}
